
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
<script type="text/javascript" src="jquery/jquery.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="stylesheets/style.css"></script>


<div class="container">
    <div class="card-panel cyan lighten-3 cyan-text z-depth-5">
    <h2 class="header white-text">
        Timestamp microservice API
    </h2>
    <div class="card-panel hoverable">
        <b>User stories:</b>
        <ul>1) I can pass a string as a parameter, and it will check to see whether that string 
        contains either a unix timestamp or a natural language date (example: January 1, 2016)</ul>
        <ul>2) If it does, it returns both the Unix timestamp and the natural language form of that date.</ul>
        <ul>3) If it does not contain a date or Unix timestamp, it returns null for those properties.</ul>
    </div>
    <div class="card-panel hoverable">
    <h3>Example usage:</h3>
    <code>{{url}}/time/December%2015,%202015</code><br>
    <code>{{url}}/time/1450137600</code>
    </div>
    <div class="card-panel hoverable">
    <h3>Example output:</h3>
    <code>
        {
          "unix": 1450137600,
          "natural": "December 15, 2015"
        }
    </code>
    </div>
    </div>
</div>
    
